<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>商+号</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wexin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx78999ba7073ec23c</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>weixinULAPI</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>APP需要您的同意，才能访问蓝牙配对硬件，如禁止将无法配对硬件</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>APP需要您的同意，才能访问蓝牙配对硬件，如禁止将无法配对硬件</string>
	<key>NSCameraUsageDescription</key>
	<string>方便为你保存图片，用于选取照片上传发布照片，以及保存菜品至本地</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>APP需要您的同意，才能访问定位位置注册账户，并且能够打开第三方地图APP显示您的位置</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>APP需要您的同意，才能访问定位位置注册账户，并且能够打开第三方地图APP显示您的位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>APP需要您的同意，才能访问定位位置注册账户，并且能够打开第三方地图APP显示您的位置</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>APP需要您的同意才能访问麦克风，用于语音播放</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>方便为你保存图片到本地，用于保存生成的桌牌二维码图片到本地</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>方便为你保存图片，用于选取照片上传发布照片，以及保存菜品至本地</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
